* {
  margin-left:0;
  padding: 0;
}

.welcome-text,
.form-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text h1 {
  font-size: 40px;
  font-weight: 900;
  color: #4682b4;
}

.form-box {
  flex-direction: column;
  gap: 15px;
}

.form-box input {
  width: 80%;
  padding: 10px;
  border: 1.5px solid #4682b4;
  border-radius: 5px;
}

.enter {
  width: 82%;
  padding: 12px;
  background: #002984;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.google {
  width: 82%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ddd;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.google img {
  height: 20px;
  margin-right: 10px;
}

.team-section-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: left;
}

.main-title {
  font-size: 28px;
  font-weight: 800;
  color: #1c34ac;
  margin-bottom: 20px;
  margin-right: 30px;
}

.team-columns {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.team-column {
  flex: 1;
}

.role-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.team-column ul {
  list-style: none;
  padding: 0;
  margin-bottom: 90px;
}

.team-column li {
  font-size: 12px;
  line-height: 1.6;
  color: #333;
}
