* {
  margin: 0;
  padding: 0;
}

.gambarbg {
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
  margin-right: 30px;
}

.gambar img {
  width: 430px;
  height: 609px;
  /* width: 464px;
  height: 657px; */
}

.border {
  border: 1px solid #1c34ac;
  width: 660px;
  height: 573px;
  padding-left: 15px;
}

.h1sj h2 {
  background-color: #4682b4;
  color: #fff;
  padding: 10px 0px 10px 13px;
  margin-right: 510px;
  margin-top: 20px;
  font-size: 35px;
}

.kotak-rate {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 70px;
  margin-right: 20px;
}
.rate1 h3 {
  margin-bottom: 30px;
  font-size: 28px;
}

.rate1 h2 {
  font-size: 35px;
}

.order button {
  text-decoration: none;
  font-size: 30px;
  padding: 13px 116px 13px 115px;
  color: #ffffff;
  margin-top: 20px;
  background-color: #1c34ac;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-top: 35px;
}

.harga h1 {
  font-size: 46px;
}

.desc {
  margin-left: 62px;
  margin-top: 30px;
}

.award {
  margin-top: 80px;
}

.rating {
  margin-top: 50px;
}

.borderrate {
  border: 1px solid #1c34ac;
  width: 1150px;
  height: 500px;
  margin-bottom: 70px;
}

.khusu {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}
