* {
  margin: 0;
  padding: 0;
}

.coach {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.category {
  background-color: #4682b4;
  color: #fff;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 740px;
  padding-right: 70px;
  margin-right: 50px;
  font-size: 20px;
}

.category ul li {
  list-style-type: none;
}

.foto img {
  margin-right: 22px;
  margin-bottom: 30px;
  width: 260px;
  height: 354px;
}
