* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 30px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #002984;
}

.logo img {
  height: 60px;
  margin-right: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #0066cc99;
  border-radius: 20px;
  width: 565px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  background: transparent;
  height: 50px;
}

.search-bar img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  opacity: 0.8;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
  color: #3366cc;
}

.search-bar input::placeholder {
  color: #3366cc;
}

.lgokanan img {
  height: 40px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #002984;
}

nav:hover {
  text-decoration: #4682b4;
}

main {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.form-container {
  display: flex;
  border: 2px solid #002984;
  border-radius: 8px;
  width: 1000px;
  height: 400px;
  max-width: 900px;
  padding: 20px;
}

.welcome-text,
.form-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text h1 {
  font-size: 40px;
  font-weight: 900;
  color: #4682b4;
}

.form-box {
  flex-direction: column;
  gap: 15px;
}

.form-box input {
  width: 80%;
  padding: 10px;
  border: 1.5px solid #4682b4;
  border-radius: 5px;
}

.enter {
  width: 82%;
  padding: 12px;
  background: #002984;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.google {
  width: 82%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ddd;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.google img {
  height: 20px;
  margin-right: 10px;
}

footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-box {
  display: flex;
  align-items: center;
  border: 1.5px solid #4682b4;
  padding-top: 5px;
  padding-left: 80px;
  padding-right: 50px;
  padding-bottom: 3px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #aaa;
  gap: 15px;
}

.footer-box a {
  text-decoration: none;
  color: #002984;
  font-weight: bold;
}

.footer-box h3 {
  padding-bottom: 2px;
}

.socials a img {
  height: 30px;
  margin-left: 80px;
}

.contact h3 {
  margin-right: 50px;
}

/* Footer */
footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-box {
  display: flex;
  align-items: center;
  border: 1.5px solid #4682b4;
  padding-top: 5px;
  padding-left: 80px;
  padding-right: 50px;
  padding-bottom: 3px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #aaa;
  gap: 15px;
}

.footer-box a {
  text-decoration: none;
  color: #002984;
  font-weight: bold;
}

.footer-box h3 {
  padding-bottom: 2px;
}

.socials a img {
  height: 30px;
  margin-left: 80px;
}

.contact h3 {
  margin-right: 50px;
}

/* Footer biru */
.all-footer-biru {
  background-color: #1f34a3;
  display: flex;
  justify-content: space-between;
  padding-right: 52px;
  padding-left: 68px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 30px;
}

.footer-biru {
  background-color: #1f34a3;
  color: white;
  display: flex;
}

.info-box {
  margin-right: 60px;
}

.info-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.info-box p {
  margin: 5px 0;
  font-size: 15px;
  cursor: pointer;
}

.info-box p:hover {
  text-decoration: underline;
}

.gambar-info-box {
  background-color: #1f34a3;
  color: white;
}

.gambar-info-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
}
.gambar-info-box img {
  margin-bottom: 15px;
}

.payments1 {
  display: flex;
  gap: 20px;
}

.payments1 img {
  object-fit: contain;
}
