* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Lokasi */
.Lokasi h2 {
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-right: 1010px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #4682b4;
  border-radius: 10px;
}

/* Slide show */
.slideshow-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-radius: 15px;
}

.slides-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

/* Category */
.container {
  display: flex;
  align-items: flex-start;
}

.Category {
  color: #fff;
  background-color: #4682b4;
  padding: 15px;
  margin: 30px;
  padding-bottom: 110px;
  width: 250px;
  border-radius: 8px;
}

/* Kanan category */
.content {
  flex: 1;
  margin: 30px;
}

.content h2 {
  color: #4682b4;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-right: 55px;
}

.card {
  border: 1px solid #1c34ac;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #1c34ac;
}

.info {
  padding: 10px;
  color: #4682b4;
  font-size: 14px;
  margin-top: 15px;
}

.info p {
  margin: 5px 0;
}
