* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* foto*/
.foto {
  display: flex;
  justify-content: center;
}

.main-image img {
  width: 890px;
  height: 437px;
  margin-right: 53px;
}

.ima img {
  display: flex;
  flex-direction: column;
  width: 252px;
  height: 197px;
}

/* detail */
.detail {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

/* kiri */
.judul {
  margin-bottom: 5px;
}

.Location {
  margin-bottom: 29px;
}

.jelas ul li {
  margin-left: 25px;
}

.jelas p {
  font-size: 18px;
}

/* kanan */
.harga {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  padding-right: 10px;
  width: 350px;
  color: #000;
}

.harga h1 {
  margin-bottom: 10px;
}

.harga p {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Kotak harga */
.pricey {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.pricey h1 {
  margin: 0;
}

.pricey p {
  font-weight: 500;
  color: #333;
  margin: 0;
}

/* Tombol order */
.order button {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  padding-left: 165px;
  padding-right: 160px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 20px;
  background-color: #1c34ac;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Jadwal */
/* Hari  */
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  color: #fff;
  margin-top: 20px;
  font-size: 19px;
}

.days div {
  padding: 12px 0;
}

/* Status booked */
.slot1 {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

table,
th,
td {
  border: 1px solid black;
}

.table {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.schedule-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ccc;
  background-color: #ccc;
}

.slot {
  background: #fff;
  text-align: center;
  padding: 25px 96px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slot.booked {
  background: #d9d9d9;
}

.duration {
  font-size: 17px;
  margin-bottom: 6px;
  color: #000;
}

.time {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
  white-space: nowrap;
}

.price,
.status {
  font-size: 17px;
  color: #000;
}

.slot.booked .status {
  font-weight: 600;
}


.schedule {
margin-left: 30px;
margin-right: 30px
}
