* {
  margin: 0;
  padding: 0;
}

/* Fitur */
.welcome-text,
.form-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text h1 {
  font-size: 40px;
  font-weight: 900;
  color: #4682b4;
}

.form-box {
  flex-direction: column;
  gap: 15px;
}

.form-box input {
  width: 80%;
  padding: 10px;
  border: 1.5px solid #4682b4;
  border-radius: 5px;
}

.enter {
  width: 82%;
  padding: 12px;
  background: #002984;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.google {
  width: 82%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ddd;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.google img {
  height: 20px;
  margin-right: 10px;
}

.faq-wrapper {
  margin: 50px auto;
  display: block;
  width: fit-content;

  border: 3px solid #3b60af;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.faq-row {
  display: flex;

  gap: 18px;
  margin-bottom: 18px;
}

.faq-row:last-child {
  margin-bottom: 0;
}

.faq-button {
  background-color: #4682b4;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 230px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 12px;
  line-height: 1.3;
  white-space: normal;
}
